<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Home Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}">
    <script type="text/javascript" th:src="@{/js/home.js}"></script>
</head>
<body>

<div class="centered">
    <div class="btn-group-vertical shadow-out" style="width:30em; height: 400px;">
        <button type="button" onclick="location.href='/game'" class="play btn btn-primary">Play Game</button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">View Past Games</button>
        <button type="button" onclick="location.href='/logout'" class="score btn btn-primary">Quit</button>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog mw-100 w-75 modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Past Game Results</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div th:if="${not #lists.isEmpty(results)}">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Email</th>
                            <th scope="col">Game Number</th>
                            <th scope="col">Winner</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="result : ${results}">
                            <td scope="row" th:text="${result.username}"></td>
                            <td>
                                <a data-toggle="modal" data-target="#GameDetails" th:text="${result.gameId}" href='#' th:onclick="'javascript:GetGameDetails(' + ${result.gameId} + ');'" ></a>
                            </td>
                            <td th:text="${result.won}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="GameDetails" tabindex="-1" role="dialog" aria-labelledby="GameDetailsTitle" aria-hidden="true">
    <div class="modal-dialog mw-100 w-75 modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="GameDetailsTitle">Game Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Team Name</th>
                            <th scope="col">Game Number</th>
                            <th scope="col">Piece</th>
                            <th scope="col">Killed By</th>
                        </tr>
                        </thead>
                        <tbody id = "GameDetailsBody">
                        </tbody>
                    </table>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>